---
layout: page
title:  "Barclays PLC"
subtitle: British multinational investment bank and financial services company
date:   2026-02-24 17:26:40 +0100
categories: issuers
cover-img: /assets/img/path.jpg
thumbnail-img: /assets/img/thumb.png
share-img: /assets/imgs/logos/barclays.svg
ext-css: //cdn.datatables.net/2.3.8/css/dataTables.dataTables.min.css
footer-extra: [plotly-init.html, dtable-init.html]
comments: false
wsDatatableIds: [ issuer_details, certs_list ]
wsDatatableCols: [
  ['Website','Specializations', 'Headquarters', 'Rating'],
  ['ISIN','Issuer','Name','Type','Issued','Expires','Currency','Coupon','Coupon Type']
]
wsDatatableRespCols: [
  ['website','specialization', 'geo_region', 'issuer_rating_class'],
   ['isin','issuer','name','certificate_type_tags','issue_date','rembursement_date','currency','coupon_amount','coupon_type']
]
wsDatatablePaths: [ '/issuers/barclays', '/details/*?issuer=barclays' ]
wsDatatableAutoLoad: true
hasPlot: true
radarId: pRadar
---
<div>
<p>
  <img src="/assets/imgs/logos/barclays.svg" width="100">
  <b>Barclays PLC</b> is a British multinational investment bank and financial services company. Founded in 1690, Barclays has established itself as a leading provider of innovative financial solutions for retail and institutional clients. The company offers a wide range of products, including investment banking, wealth management, and personal banking services, with a focus on customization and flexibility to meet the specific needs of its clients. Barclays operates through a network of partnerships with banks, asset managers, and other financial institutions, providing them with access to its proprietary technology platform and product suite. The company is headquartered in London and is listed on the London Stock Exchange.
</p>
</div>
<div>
{% include dtable-th.html tablePos=0 tableStyle="basic" %}
</div>
<div>
<h2>{{ site.issuers_par1_title }}</h2>
The website provides clear information regarding: 
<ul>
  <li>calendar</li>
  <li>coupon ex-date</li>
  <li>levels and barriers</li>
</ul>

<div id="{{ page.radarId }}"></div>
<script>
     radarRawData = [
            {
                name: 'Barclays PLC',
                r: [3, 3, 4, 3, 5, 3],
            },
            // {
            //     name: 'Group B',
            //     r: [2, 4, 3, 1, 5, 2],
            // },
            // {
            //     name: 'Group C',
            //     r: [2, 1, 5, 2, 3, 2],
            // }
        ];
</script>


</div>
<div>
<h2>{{ site.issuers_par2_title }}</h2>
{{ site.issuers_par2_content }}
<b>Note:</b> If you would like to add your own certificate, please send us a <a href='../request'>message</a>
</div>
<div>


<!--  /certificates?issuer=[issuer] -->

<!-- <table id="dTable" data-mdt-path="/details/{{page.slug}}"> -->
{% include dtable-th.html tablePos=1 %}
</div>

