{% assign tablePos = include.tablePos | default: 0 %}
{% assign tableStyle = include.tableStyle | default: "default" %}
{% assign tableId = page.wsDatatableIds[tablePos] %}
{% assign tableCols = page.wsDatatableCols[tablePos] %}

{% if tableId && tableCols %}
<table id="{{ tableId }}" class="stripe" data-mdt-path="" data-mdt-run="false" data-mdt-style="{{ tableStyle }}">
    <thead>
        <tr>{% for col in tableCols %}<th>{{ col }}</th>{% endfor %}</tr>
    </thead>
    <tbody></tbody>
</table>
{%- endif %}
