<script src="/assets/js/icws.js"></script>
<script>
    console.log('select-init.html -- inits the select input');
</script>
{% if page.wsSelectId %}
<script>
    // Auto-populate the page's select element using createSelectUpdater() from icws.js.
    (function () {
        const updateSelectOptions = createSelectUpdater({
            wsUrl:     '{{ site.wsUrl }}',
            wsSecret:  '{{ site.data.env_vars.wsSecret }}',
            delimiter: '{{ site.ws_csv_delimiter }}'
        });
        updateSelectOptions(
            '{{ page.wsSelectId }}',
            '{{ page.wsSelectPath }}',
            parseInt('{{ page.wsSelectValPos | default: 0 }}'),
            parseInt('{{ page.wsSelectTextPos | default: 1 }}')
        );
    })();
</script>
{%- endif %}