---
layout: page
full-width: true
title: Certificates Analysis by Market Value
subtitle: Discover how certificates are performing and their current value. Data is refreshed each 8 hours Berlin office time.
intro: Buying investment certificates issued below par (at a discount) is attractive primarily because it increases the potential yield and provides a built-in capital gain at maturity.
ext-css: //cdn.datatables.net/2.3.7/css/dataTables.dataTables.min.css
footer-extra: dtable-init.html
comments: false
before-content: intro-page.html
wsDatatableIds: [
  'details_table'
]
wsDatatableCols: [
  ['ISIN', 'Issuer', 'Name', 'Coupon','Ex-Date', 'Ask', 'Bid', '1 Day' , '3 Days', '1 Week', '2 Weeks', '4 Weeks']
]
wsDatatablePaths: [
  /certs_growth/*
]
# ext-js: [
#     //cdn.datatables.net/2.3.7/js/dataTables.dataTables.min.js, 
#     //code.jquery.com/jquery-3.5.1.min.js
# ]
---

<div class="tool-container">

 <!-- Header -->
  <div class="tool-header">
    <h3>Certificate Explorer</h3>
    <p class="tool-description">
      Select criterias to search for certificates and analyze the results.
    </p>
        <p class="tool-description">
      <b>How to use this tool</b>
      <ol class="tool-description">
        <li>Select a market value criteria.</li>
        <li>Select a growth criteria.</li>
        <li>Click the search button.</li>
        <li>The table will update to show all certificates related to the selected criteria.</li>
      </ol>
    </p>
        <p class="tool-description">
      <b>When to use this tool</b>
      <ol class="tool-description">
        <li>You want to add certificates to your portfolio waiting for the right market conditions.</li>
        <li>You want to select certificates based on their market value and coupon rate.</li>
        <li>You want to select certificates when they are below their par value and coupon ex-date is close.</li>
      </ol>
    </p>
  </div>

  <!-- Selectors -->
  <div class="tool-section">
    <label for="market_value" class="tool-label">Value</label>
    <select name="market_value" id="market_value" class="tool-input">
      <option value="">-- Choose a criteria --</option>
      <option value="below">Less than 100</option>
      <option value="over">Greater than 100</option>
    </select>

    <label for="growth" class="tool-label">Growth</label>
    <select name="growth" id="growth" class="tool-input">
      <option value="">-- Choose a criteria --</option>
      <option value="up">Rising</option>
      <option value="down">Falling</option>
    </select>
  </div>

    <!-- Actions -->
  <div class="tool-actions">
    <button id="btnPrimary" class="btn btn-primary">
      Search
    </button>
     {% include error-box.html errorBoxId="errorBoxForLoad" %}
  </div>

  <!-- Table -->
  <div class="tool-section">
    <div class="table-header">
      <h4>Certificates</h4>
      <span id="result_count" class="table-count"></span>
    </div>

    <div class="table-wrapper">
      {% include dtable-th.html tablePos=0 %}
    </div>
  </div>

</div>
<script>
// button btnPrimary
document.getElementById('btnPrimary').addEventListener('click', function() {
  // get growth and value criteria
    let growth = document.getElementById('growth').value;
    let value = document.getElementById('market_value').value;
    if (growth || value) {
        // Fetch data from the API endpoint
        console.log("Selected growth and value: ", growth, value);
        // generate base64 secret for authorization header
        // var secret = btoa("{{ site.data.env_vars.wsSecret }}");
        dtUpdate(0, '?growth1d=' + growth + '&parvalue=' + value);
       
    } else {
        console.log("No parameters selected");
        ErrorBox.show("Please select at least one criteria for growth or market value.", "errorBoxForLoad");
    }
});

</script>


