---
layout: page
full-width: true
title: Portfolio Analysis
subtitle: How a single company can influence your portfolio
footer-extra: [plotly-init.html, select-init.html, dtable-init.html]
ext-css: //cdn.datatables.net/2.3.8/css/dataTables.dataTables.min.css
comments: false
hasPlot: true
wsSelectId: cert_select
wsSelectPath: /tickers/*
wsSelectValPos: 0
wsSelectTextPos: 1
wsDatatableIds: [
  'details_table',
  'tickers_table'
]
wsDatatableCols: [
  ['ISIN', 'Issuer', 'Name', 'Tags'],
  ['ISIN', 'Name', 'Stock Name', 'Stock Ticker', 'Industry', 'Sector']
]
wsDatatablePaths: [
  '/details/',
  '/tickers/'
]
wsDatatableRespCols: [
[],
  ['certificate_isin', 'certificate_name', 'stock_name', 'stock_google_finance_ticker', 'stock_industry', 'stock_sector'],
]
---
<div class="tool-container">
  <!-- Header -->
  <div class="tool-header">
    <p class="tool-description">
      Select a certificate to analyze related underlyings. This tool helps you understand how a single industry can influence a set of certificates, providing insights into the connections between industries and financial instruments.
    </p>
    <p class="tool-description">
      <b>How to use this tool</b>
      <ol class="tool-description">
        <li>Select a certificate from the dropdown menu or paste a list of ISINs. The list has priority over the dropdown selection.</li>
        <li>Click the "Load Data" button.</li>
        <li>The sankey graph will update to show the relationships between certificates and underlyings.</li>
        <li>The table in Underlyings will update to show all underlyings related to the selected certificates.</li>
        <li>The table in Certificate Details will update to show further details.</li>
      </ol>
    </p>
        <p class="tool-description">
      <b>When to use this tool</b>
      <ol class="tool-description">
        <li>You have multiple certificates in your portfolio, you want to analyze their underlying assets and exposure.</li>
        <li>You want to invest in a specific set of certificates with no overlap.</li>
      </ol>
    </p>
  </div>
  </div>
<!-- Tabs -->
<ul class="nav nav-tabs" id="portfolioTabs" role="tablist">
  <li class="nav-item active">
    <a class="nav-link active" id="info-tab" data-toggle="tab" href="#infoPane" role="tab">
      Portfolio
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="chart-tab" data-toggle="tab" href="#chartPane" role="tab">
      Chart
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="table-tab" data-toggle="tab" href="#underlyingsPane" role="tab">
      Underlyings
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="table-tab" data-toggle="tab" href="#tablePane" role="tab">
      Certificate Details
    </a>
  </li>
</ul>

<div class="tab-content mt-3">

  <!-- General tab -->
  <div class="tab-pane fade show active" id="infoPane" role="tabpanel">

    <div class="tool-container">

      <div class="tool-section">
        <label for="cert_select" class="tool-label">
          Select a certificate or paste a list of ISINs:
        </label>

        <select name="cert_select" id="cert_select" class="tool-input">
          <option value="">-- Choose a certificate --</option>
        </select>

        <textarea id="cert_csv_list" class="tool-input" rows="3" placeholder="DE000VG656A7, NLBNPIT30309"></textarea>
      </div>

      <div class="tool-actions">
        <button id="btnPrimary" class="btn btn-primary">Load Data</button>
          {% include error-box.html errorBoxId="errorBoxForLoad" %}
      </div>

    </div>


  </div>

  <!-- Chart tab -->
  <div class="tab-pane fade" id="chartPane" role="tabpanel">

    <div class="tool-section">
      <div id="plotlyid"></div>
    </div>

      <div class="tool-actions">
        <button id="btnSwap" class="btn btn-secondary">Swap Certs ↔ Tickers</button>
        {% include error-box.html errorBoxId="errorBoxForSwap" %}
      </div>

  </div>

    <!-- Underlyings tab -->
  <div class="tab-pane fade" id="underlyingsPane" role="tabpanel">

       {% include dtable-th.html tablePos=1 %}

  </div>

  <!-- Table tab -->
  <div class="tab-pane fade" id="tablePane" role="tabpanel">

    <div class="tool-section">

      <div class="table-header">
        <h4>Certificates Details</h4>
        <span id="result_count" class="table-count"></span>
      </div>

      <div class="table-wrapper">
        {% include dtable-th.html tablePos=0 %}
      </div>

    </div>

  </div>

</div>

<script>

  // button btnSwap
  let swapSwitch = false;
  let certs_ticker_data = [];

  document.getElementById('btnSwap').onclick = function () {
    if (certs_ticker_data && certs_ticker_data.node && certs_ticker_data.link) {
      swapSwitch = !swapSwitch;
      drawPlotly(certs_ticker_data, swapSwitch);
    } else {
      ErrorBox.show("No data to swap yet.", "errorBoxForSwap");
    }   
  }; // .btnSwap::onclick

  // button btnPrimary
  document.getElementById('btnPrimary').onclick = async function () {
    let cert_isins = document.getElementById('cert_csv_list').value.trim() || document.getElementById('cert_select').value;
    if (cert_isins == "") {
      ErrorBox.show("Please select a certificate or paste a list of ISINs to load data.", "errorBoxForLoad");
      return;
    }

    let validIsisns = ErrorBox.validateIsinList(cert_isins, "errorBoxForLoad");

    console.log("Selected certs: ", '{{ site.wsUrl }}/tickers/', cert_isins);
    var secret = "{{ site.data.env_vars.wsSecret }}";
    fetch('{{ site.wsUrl }}/tickers/' + validIsisns, {
      method: "GET",
      headers: {
        "Content-Type": "text/plain",
        "Authorization": "Bearer " + secret
      }
    })
      .then(response => response.json())
      .then(dataRaw => {
        console.log("test::data:", dataRaw);
        dataRaw.shift(); // remove header
        certs_ticker_data = createPlotlyData(dataRaw, 0, 3, 1, 2); // source is cert at pos 0, target is ticker at pos 3
        console.log("test::plotlyData:", certs_ticker_data);
        drawPlotly(certs_ticker_data, swapSwitch);
        dtUpdate(0, cert_isins);
        dtUpdate(1, cert_isins);
        new bootstrap.Tab(
          document.getElementById('chart-tab')
        ).show();
        //render('source-to-target');

      });
  }; // .btnPrimary::onclick
  //   $('a[data-toggle="tab"]').on('shown.bs.tab', function () {
  //     Plotly.Plots.resize('plotlyid');
  // });
</script>